#root{
    min-height: 100vh;
    
}
.devlopcontainer{
    width: 100%;
    display: flex;
    color: aliceblue;
    
    flex-direction: column;
   
    padding-top: 2%;
}
.hproj{
   margin-bottom: 1%;
   color: aliceblue;
    margin-left: 10%;
}
.comtittle{
    color: aliceblue;
}
.comcontainer{
    width: 100%;
  
}
