@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');



.containerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;
   
    
    
}
.a{
    position: relative;
    display: inline-block;
    padding: 12px 36px ;
    margin: 10px 0;
    color: #fff!important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
   background: #D38845;
    background: -webkit-linear-gradient(top left, #D38845, #CA4B07);
    background: -moz-linear-gradient(top left, #D38845, #CA4B07);
    background: linear-gradient(to bottom right, #D38845, #CA4B07);
    transition: transform 0.3s all ease !important;
}
a:hover{
    transform: scale(1.05);
}
.btn2{
    width: 80%;
    display: flex;
  justify-content: space-around;
}
