
.containerproj{
    display: flex;
    
}
.rowproj{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.pojrow{
    font-size: 40px;
    margin-left: 1%;
}
