body{
    background: radial-gradient(#e5e5e5,#fff,#e5e5e5);
}
.cards{
 
  height: 38rem !important;
  width: 28rem;
  margin-bottom: 5%;
  
  
}
.cards:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253);
}
.card-body{
    padding: 3rem,0!important;
}
.card-text{
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
    
}
.overflow{
    overflow: hidden;
}
.container-fluid .row{
    padding-top: 6rem;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    
}

.card-img-top{
    height: 20rem !important;
    width: 23rem!important;
    margin-bottom: 20px;
  object-fit: contain;
    transform: scale(1);
    transition: transform 0.5s ease;
}
.card-img-top:hover{
    transform: scale(1.1);

}
.card-title{
    font-size: 40px;
}
.btn{
    color: orange !important;
    border: 1px solid orange!important;
}
.btn:hover{
    background-color: orange!important;
    color:white !important;
    border: none;
    
    
}